<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mando"
    android:versionCode="1"
    android:versionName="1.0" >
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mando.SettingsWelcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mando.SettingsPINChange"></activity>
        <activity android:name="com.mando.SettingsTest"></activity>
        <activity android:name="com.mando.SettingsCommandToggle"></activity>
        <activity android:name="com.mando.SettingsCommandCustom"></activity>
        <activity android:name="com.mando.SettingsTwitterLogin"></activity>

	    <service android:name=".service.MainService"
	        android:enabled="true">
		</service>

        <receiver android:name=".service.MandoSMSReceiver">
		    <intent-filter>
		        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
		    </intent-filter>
		</receiver>
    </application>

    
</manifest>